.row.reddit-item
  .col-lg-2
    %a{ href: item.url }
      - if item.media_thumbnail
        %img.img-responsive{ src: item.media_thumbnail, alt: item.media_title }
      - else 
        %img.img-responsive{ src: "/images/lil-reddit-guy.png", alt: item.title }
  .col-lg-10
    %h4
      %a{ href: item.url }= item.title
    %ul.list-inline
      %li
        = form_tag "/favorite" do
          = input_tag :hidden, name: :title, value: item.title
          = input_tag :hidden, name: :url, value: item.url
          = input_tag :hidden, name: :image_url, value: item.media_thumbnail if !item.media_thumbnail.nil?
          
          - btn_cls = "btn "
          - if @existing_favorites.include?(item.url)
            - btn_cls += "btn-danger"
          - else
            - btn_cls += "btn-success"
          %button{ type: "submit", class: btn_cls }
            %i.fa.fa-star
            - if @existing_favorites.include? item.url
              Unfavorite
            - else
              Favorite
      - if !item.categories.empty?
        %li
          %a.btn.btn-text{ href: "/r/#{item.categories.first}" }
            Posted in #{item.categories.first}
      %li
        Posted
        = time_ago_in_words item.published
        ago

